@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
body {
    font-family: 'Open Sans', 'Times New Roman';
    background: #f2f2f2;
}

td {
    background: #f2e9d8;
    color: #000000;
    padding: 16px;
}

th {
    background: #000000;
    color: #f2e9d8;
    padding: 8px;
}

h1 {
    color: #b8c6d9;
    margin-top: 40px;
    font-size: 40px;
    font-weight: bold;
}

h2 {
    color: #bfb1a4;
    font-size: 22px;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #4e2710;
    margin-top: 24px;
}

img{
    border-radius: 20%;
    width: 150px;
}

.center{
    text-align: center;
}

.direita {
    text-align: right;
}

.esquerda {
    text-align: left;
}